<div class="app-page" *ngIf="(user$ | async)! as user"> 
  <div class="app-page__header">
    <h1>{{ user.name }}</h1>
  </div>

  <div class="app-page__content">
    <div class="photo">
      <aa-user-photo [photoURL]="user.photoURL"></aa-user-photo>
    </div>

    <p>
      <b>About: {{user?.about}}</b>
    </p>

    <ng-container [ngSwitch]="user?.roleId">
      <aa-employee *ngSwitchCase="'employee'" [role]="user.role">
      </aa-employee>
      <aa-recruiter *ngSwitchCase="'recruiter'" [role]="user.role">
      </aa-recruiter>
    </ng-container>
  </div>

  <div class="app-page__footer">
    <a class="app-button" [routerLink]="['/profile', 'edit']">Edit</a>
  </div>

</div>
