<form [formGroup]="form" novalidate autocomplete="off">
  <aa-form-field label="Role" [required]=true [control]="form.controls.roleId">
    <aa-radios 
      formControlName="roleId" 
      [items]="dictionaries?.roles!.controlItems"
    ></aa-radios>
  </aa-form-field>

  <aa-form-field label="Tell about yourself" [control]="form.controls.about" [required]=false>
    <aa-input formControlName="about"></aa-input>
  </aa-form-field>

  <ng-container [ngSwitch]="form.controls.roleId.value">
    <aa-recruiter 
      *ngSwitchCase="'recruiter'" 
      [parent]="form" 
      name="role" 
      [dictionaries]="dictionaries"
    >
    </aa-recruiter>
    <aa-employee 
      *ngSwitchCase="'employee'" 
      [parent]="form" 
      name="role" 
      [dictionaries]="dictionaries"
    >
    </aa-employee>
  </ng-container>
</form>
