<form [formGroup]="form" novalidate autocomplete="off">
  <aa-form-field 
    label="Expected Salary" 
    [required]=true 
    [control]="form.controls.expectedSalary"
  >
    <aa-input formControlName="expectedSalary"></aa-input>
  </aa-form-field>

  <aa-form-field label="Experience" [required]=true>
    <aa-experiences 
      [parent]="form" 
      name="experiences"
      [values]="experiences"
    >
    </aa-experiences>
  </aa-form-field>

  <aa-form-field 
    label="Specialization" 
    [required]=true 
    [control]="form.controls.specialization"
  >
    <aa-select 
      formControlName="specialization" 
      [items]="controls.specialization.items"
      (changed)="controls.specialization.changed()"
    >
    </aa-select>
  </aa-form-field>
  <aa-form-field 
    label="Qualification" 
    [required]=true 
    [control]="form.controls.qualification"
  >
    <aa-select 
      formControlName="qualification" 
      [items]="controls.qualification.items"
    >
    </aa-select>
  </aa-form-field>
  <aa-form-field 
    label="Skills" 
    [required]=true 
    [control]="form.controls.skills"
  >
    <aa-checkboxes 
      formControlName="skills" 
      [items]="controls.skills.items"
    >
    </aa-checkboxes>
  </aa-form-field>


</form>
