<div class="app-page">
  <div class="app-page__header">
    <h1>New Profile</h1>
  </div>

  <div class="app-page__content">
    <aa-stepper *ngIf="dicionariesIsReady$ | async">
      <ng-container [ngSwitch]="stepperService?.activeStep?.key">
        <aa-personal 
          *ngSwitchCase="'personal'"
          [dictionaries]="dictionaries$ | async"
          (changed)="onChangedPersonal($event)"
        >
        </aa-personal>
        <aa-professional *ngSwitchCase="'professional'"></aa-professional>
      </ng-container>
    </aa-stepper>
  </div>
</div>
